<div class="media border border-primary p-2">
  <img src="<%= User.last.image %>" class="mr-3 rounded-circle" alt="..." width="64" height="64">
  <div class="media-body">
    <div class="d-flex w-100 justify-content-between">
        <h5 class="mt-0"><%= User.last.name %></h5>
        <small>3 days ago</small>
    </div>
    <div>
        content
    </div>
    <div class="row text-center mt-2">
        <div class="col"> Likes </div>
        <div class="col"> Retweets </div>
    </div>
  </div>
</div>