<ul class="list-unstyled container px-5">

    <% if current_user %>
            <ul>
                <% current_user.likes.each do |like| %>
                    <li><%= like.tweet_id %></li>
                <% end %>
            </ul>
            <%= render 'shared/form_tweet', tweet: @tweet %>
    <% end %>

    <% @tweets.each do |tweet| %>
    
        <%= render 'shared/tweet_layout', tweet: tweet, user: tweet.user %>
    <% end %>
    
</ul>

<div class="text-center">
    <%= link_to 'Show more Tweets', path_to_next_page(@tweets) %>
</div>