<ul class="list-unstyled container px-5">

    <% if current_user %>
        <%= render 'shared/form_tweet', tweet: @tweet %>
    <% end %>

    <% @tweets.each do |tweet| %>
        <%= render 'shared/tweet_layout', tweet: tweet, user: tweet.user, likes: @likes.like_counter(tweet) %>
    <% end %>
    
</ul>

<div class="text-center">
    <%= link_to 'Show more Tweets', path_to_next_page(@tweets) %>
</div>